.container{

    padding:20px 30px 20px 30px;
    border-radius: 10px;
    font-size: 20px;
    background-color: palegreen;
    
    
}

.container1{

    font-size: 20px;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    background-color: palegreen;
}
.panel{

    font-size: 30px;
    
   

}