<p>printing works!</p>
<!-- <div class="container">
    
  
    <br>
    <div>
      <table class="table table-bordered table-hover">
        <thead>
          <th>Sr No</th>
          <th>Trade No</th>
          <th>Name</th>
          <th>currency Pair</th>
          <th>Amount</th>
          <th>Rate</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of EmpData;index as i">
                <td>{{item.tradeNo}}</td>
                <td>{{item.customerName}}</td>
                <td>{{item.currencyPair}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.rate}}</td>
            </tr>
       </tbody>
    </table>
</div>

<button (click)="onClick()" class="btn btn-success" style="margin-left: 3cm;">Back</button> -->


<div class="container">
  <table class="table table-bordered table-hover" style="background-color: rgb(167, 167, 156);">
     <thead class="table-dark ">
         <tr>
             <th >TradeNo</th>
             <th >CustomerName</th>
             <th >CurrencyPairs</th>
             <th >Amount</th>
             <th >Rate</th>
           </tr>
         </thead>
         <tbody>
            <tr *ngFor ="let data of datas "> 
             <td>{{data.tradeNo}}</td>
             <td>{{data.customerName}}</td>
             <td>{{data.currencyPair}}</td>
             <td>{{data.amount}}</td>
             <td>{{data.rate}}</td>
           </tr>
     </tbody>
   </table>
   <!-- <pagination-controls (pageChange)="p = $event"
       style="string:right ;"
     ></pagination-controls> -->
 </div>
  <button (click)="onClick()" class="btn btn-success" style="margin-left: 3cm;">Back</button>